#java jdk
JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_172.jdk/Contents/Home
JAVA_PAHT=.:${JAVA_HOME}/lib/dt.jar:${JAVA_HOME}/lib/tools.jar

#gradle
# GRADLE_HOME=${HOME}/gradle/gradle-3.5

#android
ANDROID_TOOLS=${HOME}/Library/Android/sdk/tools
ADNROID_PLATFORM_TOOLS=${HOME}/Library/Android/sdk

# mysql
MYSQL=/usr/local/mysql/bin

PATH=${PATH}:${JAVA_HOME}/bin:
PATH=${PATH}:${ANDROID_TOOLS}/bin
PATH=${PATH}:${ADNROID_PLATFORM_TOOLS}/platform-tools
# PATH=${PATH}:${GRADLE_HOME}/bin
PATH=${PATH}:${MYSQL}


#export JAVA_HOME
#export JAVA_PAHT
# export GRADLE_HOME
#export ANDROID_TOOLS
#export ADNROID_PLATFORM_TOOLS
#export MYSQL

export PATH
